/* Roboto Light */
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
}

/* Roboto Light Italic */
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
}

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

/* Roboto Regular Italic */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('Roboto-Italic-webfont.eot');
    src: url('Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Italic-webfont.woff') format('woff'),
         url('Roboto-Italic-webfont.ttf') format('truetype'),
         url('Roboto-Italic-webfont.svg#robotoitalic') format('svg');
}

/* Roboto Medium */
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
}

/* Roboto Medium Italic */
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('Roboto-MediumItalic-webfont.eot');
    src: url('Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-MediumItalic-webfont.woff') format('woff'),
         url('Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
}

/* Roboto Bold */
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');
}

/* Roboto Bold Italic */
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('Roboto-BoldItalic-webfont.eot');
    src: url('Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BoldItalic-webfont.woff') format('woff'),
         url('Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
}

/* Roboto Mono */
@font-face {
    font-family: 'Roboto Mono';
    font-weight: normal;
    font-style: normal;
    src: url('RobotoMono-regular-webfont.eot');
    src: url('RobotoMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoMono-Regular-webfont.woff2') format('woff2'),
         url('RobotoMono-Regular-webfont.woff') format('woff'),
         url('RobotoMono-Regular-webfont.ttf') format('truetype'),
         url('RobotoMono-Regular-webfont.svg#roboto_monoregular') format('svg');
}