#header-content {
  margin: 6px 10px 0 10px;
}

/*#loginContainer {
  right: 0px !important;
  left: auto !important;
  top: 0px !important;
  height: 31px !important;
  width: 242px !important;
  background: #F2F2F2;
  position: absolute !important;
}*/

#north-region .x-box-layout-ct .x-box-inner  {
  background-color: #1479cc;  
  height: 31px !important;
}

#north-region {
  background: #F2F2F2 !important;
}

.doctabs .doctab .m {
  text-shadow: none;
}

.doctabs .doctab .tabUrl {
  color: grey !important;
}

.doctabs .doctab.active .tabUrl {
  color: black !important;
}


.doctabs {
  height: 28px; 
  border-bottom: 1px solid #dcdcdc;
}

.doctabs .doctab.overview .l {
  margin-left: 6px !important;
}

.doctabs .doctab.overview .r {
  margin-right: 5px !important;
}

.doctabs .doctab.highlight .l,
.doctabs .doctab.highlight .m,
.doctabs .doctab.highlight .r,
.doctabs .doctab .l,
.doctabs .doctab .m,
.doctabs .doctab .r {
  border: 0px solid #dcdcdc;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.doctabs .doctab.highlight .l,
.doctabs .doctab .l {
  background: transparent;
  border-left-width: 1px;
  border-top-width: 1px;
  width: 8px !important;
}

.doctabs .doctab.highlight .m,
.doctabs .doctab .m {
  background: transparent;
  border-top-width: 1px;
  margin-right: 6px;
}

.doctabs .doctab.highlight .r,
.doctabs .doctab .r {
  margin-right: 6px;
  background: transparent;
  border-top-width: 1px;
  border-right-width: 1px;
  height: 27px;
  background: -moz-linear-gradient(left,  rgba(242,242,242,0) 0%, rgba(242,242,242,1) 29%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,242,0)), color-stop(29%,rgba(242,242,242,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 29%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 29%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 29%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 29%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}


.doctabs .doctab.highlight .l,
.doctabs .doctab.highlight .m,
.doctabs .doctab.highlight .r {
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */  
}

.doctabs .doctab.active .l {
  background: white;
}

.doctabs .doctab.active .m {
  background: white;
  border-bottom: 4px solid white;
}

.doctabs .doctab.active .r {
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(29%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  margin-right: 5px;
}

#search-dropdown .item {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

#search-dropdown .icon {
  top: 6px !important;
}

.doctabs .doctab .m span.icn {
  background: url(../images/icons.png) no-repeat 0 -360px;
}

#guide-body img {
  max-width: 100% !important;
  height: auto !important;
}