<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EloixClientWebAppExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Example servlet</description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>de.elo.webappexample.MyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <!-- moved to webappconfigdir defined in META-INF\context.xml (resp. Tomcat\conf\catalina\localost\EloixClientWebAppExample.xml)
	    <init-param>
	      <param-name>IndexServer.URL</param-name>
	      <param-value>http://srvt02:8080/ix-elo80_ora/ix</param-value>
	    </init-param>
	    <init-param>
	      <param-name>IndexServer.UserName</param-name>
	      <param-value>Administrator</param-value>
	    </init-param>
	    <init-param>
	      <param-name>IndexServer.UserPwd</param-name>
	      <param-value>52-247-139-10-8-11-59-34</param-value>
	    </init-param>
     -->
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
</web-app>